@using DATN.Core.Enum
@using DATN.Core.ViewModels.Paging
@model DATN.Core.ViewModels.Paging.MagazinePaging
@{
    int totalRecord = (int)Model.TotalRecord;
    int totalPages = (int)Model.TotalPages;
    int currentPage = Model.CurrentPage;
    int pageSize = Model.PageSize;

    int startPage = Math.Max(1, currentPage - 2);
    int endPage = Math.Min(totalPages, currentPage + 2);

    int startIndex = ((currentPage - 1) * pageSize) + 1;
    int endIndex = (currentPage == totalPages) ? totalRecord : startIndex + pageSize - 1;
    if (endIndex > totalRecord) endIndex = totalRecord;

    int index = (currentPage - 1) * 10 + 1;
    ViewData["Title"] = "Quản lý nhà đồng hành";
    int stt = (currentPage - 1) * pageSize;
}
<div class="container-fluid px-4">
    <div class="card mb-4">
        <div class="card-header">
            <i class="fas fa-table me-1"></i>
            Danh sách Magazine
        </div>

        <div class="card-body table-responsive">

            <button class="btn btn-success mb-4" id="btn">
                <a asp-action="Create" asp-area="Admin" asp-controller="Magazine" class="text-white text-decoration-none">
                    <span style="font-size:20px; margin-right:5px"><i class="fa-solid fa-user"></i></span>Thêm mới
                </a>
            </button>

            <form id="form-search" asp-area="Admin" asp-controller="Magazine" asp-action="Index">
                <input id="current-page" type="hidden" asp-for="CurrentPage" name="CurrentPage" />
                <div class="mb-3 row justify-content-between">
                    <div class="col-5 d-flex">
                        <select asp-for="PageSize" onchange="setCurrentPage('1');" class="form-select-sm col-2">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="15">15</option>
                            <option value="20">20</option>
                        </select>
                        <div class="ms-1 col-10 d-flex">
                            <div class="col-10">
                                <input type="text" asp-for="SearchTerm" class="input-left w-100" placeholder="Nhập caption" style="width: 30%">
                            </div>
                            <div class="col-2">
                                <button type="submit" class="btn btn-primary button-right">Tìm</button>
                            </div>
                        </div>
                    </div>
                </div>
                @if (Model.Items.Count > 0)
                {
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Caption</th>
                                <th>Ảnh</th>
                                <th>Trạng thái</th>
                                <th style="width:21% !important" class="col-3">Tác vụ</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Items)
                            {
                                <tr>

                                    <td>@(stt += 1)</td>
                                    <td >@item.Caption</td>
                                    <td><img src="@item.Image" style="width: 50px; height: auto;" /></td>
                                    <td>@((MagazineStatus)(item.Status))</td>
                                    <td >
                                        <div class="btn-group">
                                            <a asp-action="Update" asp-route-id="@item.MagazineId" class="btn btn-warning text-decoration-none">Sửa</a>
                                            <a asp-action="Detail" asp-route-id="@item.MagazineId" class="btn btn-info text-decoration-none">Chi tiết</a>
                                            @Html.ActionLink("Xóa", "Delete", new { id = item.MagazineId }, new
                                                {
                                                    onclick = "return confirm('Bạn có chắc chắn muốn xóa không?');"
                                                     ,
                                                    @class = "btn btn-danger text-decoration-none"
                                                })
                                        </div>

                                    </td>
                                </tr>
                                index++;
                            }
                        </tbody>
                    </table>
                }
                else
                {
                    <h4 class="text-center">Không có chức vụ nào</h4>
                }
                <div class="row d-flex justify-content-center align-content-center mt-3 p-0">
                    <div class="col d-flex flex-row">
                        <div class="center">
                            <span class="fst-italic">Hiện <strong>@(Model.Items.Count == 0 ? 0 : startIndex) - @endIndex</strong> trong <strong> @totalRecord</strong> bản ghi</span>
                        </div>
                    </div>
                    @if (totalPages > 1)
                    {
                        <ul class="pagination justify-content-end col m-0">
                            <li class="page-item @((currentPage == 1) ? "disabled" : "")">
                                <a onclick="event.preventDefault(); setCurrentPage('@(currentPage-1)')" class="page-link link-paging" asp-area="Admin" asp-controller="Magazine" asp-action="Index"
                                   asp-route-currentPage="@(Model.CurrentPage-1)" tabindex="-1" aria-disabled="true">Previous</a>
                            </li>

                            @if (currentPage > 3)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }

                            @for (int pageIndex = startPage; pageIndex <= endPage; pageIndex++)
                            {
                                <li class="page-item">
                                    <a onclick="event.preventDefault(); setCurrentPage('@pageIndex')" class="page-link @(pageIndex == currentPage ? "link-active" : "") link-paging" asp-area="Admin" asp-controller="Magazine" asp-action="Index"
                                       asp-route-currentPage="@(Model.CurrentPage-1)">@pageIndex</a>
                                </li>
                            }

                            @if (currentPage < Math.Ceiling(totalRecord / 10.0) - 2)
                            {
                                <li class="page-item disabled"><span class="page-link">...</span></li>
                            }

                            <li class="page-item @((currentPage == totalPages) ? "disabled" : "")">
                                <a onclick="event.preventDefault(); setCurrentPage('@(currentPage + 1)')" class="page-link link-paging" asp-area="Admin" asp-controller="Magazine" asp-action="Index"
                                   asp-route-currentPage="@(Model.CurrentPage-1)">Next</a>
                            </li>
                        </ul>
                    }
                </div>

            </form>

        </div>
    </div>
</div>
