<div class="container">
    <div class="header clearfix">

        <h3 class="text-muted">Kết quả thanh toán</h3>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayMsg">@ViewBag.displayMsg</div>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayTmnCode">@ViewBag.displayTmnCode</div>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayTxnRef">@ViewBag.displayTxnRef</div>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayVnpayTranNo">@ViewBag.displayVnpayTranNo</div>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayAmount">@ViewBag.displayAmount</div>
    </div>
    <div class="table-responsive">
        <div runat="server" id="displayBankCode">@ViewBag.displayBankCode</div>
    </div>
    <a style="text-decoration:none;" href="/Home/Index">Quay về trang chủ</a>
</div>